#reminderContainer {
  justify-content: center;
}

#reminderRow {
  width: 100%;
}

#reminders {
  margin-left: 25%;
  margin-right: 25%;
  background-color: #fa9801;
}

#remindersTitle {
  color: white;
  font-size: xx-large;
}

#shownReminder {
  margin-top: 2%;
}

.reminderButton {
  background-color: #2596be !important;
  border: none !important;
  margin-left: 1%;
  font-size: large !important;
}

#addReminderButton {
  background-color: #dcdcdc !important;
  border-color: black !important;
  color: black;
  font-size: large !important;
}

#shownReminderText {
  font-size: large;
}

#reminderSubmitButton {
  background-color: #2596be !important;
  border: none !important;
}

.add-to-pet {
  padding-top: 3%;
}

.add-to-pet-label {
  margin-left: 3%;
}