.App {
  margin-right: 5%;
  margin-left: 5%;
}

.showReminder {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.container2 {
  max-width: 66vh;
  margin: 1px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 1px;
  border-radius: 5px;
  margin-bottom: 5%;
  background-color: white;
}

.reminderHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  color: #2596be;
}

.link:hover{
  color: #ff9700;
}