#reminderCard {
    background-color: #fa9801;
    width: 100%;
}

#reminderTitle {
    color: white;
    font-size: xx-large;
    cursor: pointer;
}

#reminderItemTitle {
    font-size: x-large;
}

#reminderItemText {
    font-size: larger;
}

#reminderItem {
    margin-bottom: 1%;
}